<app-home></app-home>
<h3 class="mt-5 mb-3">Reservation List</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Guest</th>
      <th>Email</th>
      <th>Room</th>
      <th>Check-In</th>
      <th>Check-Out</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (reservation of reservations; track reservation.id){
    <tr>
      <td>Guest:{{ reservation.guestName }}</td>
      <td>Email:{{ reservation.guestEmail }}</td>
      <td>Room No.:{{ reservation.roomNumber }}</td>
      <td>Check-In:{{ reservation.checkInDate }}</td>
      <td>Check-Out:{{ reservation.checkOutDate }}</td>
      <td>
        <button class="btn btn-sm btn-danger" (click)="deleteReservation(reservation.id)">
          Delete
        </button>
        <button class="btn btn-secondary mx-1" [routerLink]="['/edit', reservation.id]">
          Edit
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>

@if (reservations.length>0){
<ul></ul>
}@else{

<div class="no-reservations">
  <p>No reservation available</p>
  <button [routerLink]="['/new']">Create a new reservation</button>
</div>

}
